In [1]:
from delta import DeltaTable
import requests
from pyspark.sql import SparkSession, Row, Window
from pyspark.sql.functions import *
from pyspark.sql.types import *
import time
import json
from pyspark.sql.functions import explode

spark = (SparkSession.builder
             .appName('lab') # Name the app
             .config("hive.metastore.uris", "thrift://metastore:9083") # Set external Hive Metastore
             .config("hive.metastore.schema.verification", "false") # Prevent some errors
             .config("spark.sql.repl.eagerEval.enabled", True)
             .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
             .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
             .enableHiveSupport()
             .getOrCreate())

In [11]:
spark.sql(" SELECT * FROM  delta.stage.posicao WHERE  linha.c = '208V-10'")

AnalysisException: spark_catalog requires a single-part namespace, but got [delta, stage]

In [31]:
# Carregando arquivos estaticos
#linhas
df_linhas = spark.read.csv("s3a://raw/GTFS/linhas",header=True)

#carrega paradas
df_paradas = spark.read.csv("s3a://raw/GTFS/paradas",header=True)

#carrega trips
df_trips = spark.read.csv("s3a://raw/GTFS/trips",header=True)

In [32]:
#df_empresa.show()

In [7]:
#carrega corredores
df_corredor = spark.read.json("s3a://raw/olhovivo/corredor")
df_corredor = df_corredor.select(\
                   col('cc').alias('Codigo_Parada') \
                   ,col('nc').alias('Nome_Parada'))
df_corredor = df_corredor.dropDuplicates(["Codigo_Parada", "Nome_Parada"])

#carrega empresas
df_empresa = spark.read.json("s3a://raw/olhovivo/empresa")
df_empresa = df_empresa.select(\
                   explode('e').alias('Empresa') \
                   ,col('hr').alias('Hora'))
window_spec = Window.partitionBy("Empresa.a").orderBy(col("Hora").desc())
df_empresa_tratado = df_empresa.withColumn("row_num", row_number().over(window_spec)) \
                       .filter(col("row_num") == 1) \
                       .drop("row_num")


#carrega posições
df_posicao = spark.read.json("s3a://raw/olhovivo/posicao")
df_posicao = df_posicao.select(\
                    col('hr').alias('Hora') \
                    ,explode('l').alias('Linha'))

In [9]:
df_posicao.head(20)

[Row(Hora='09:50', Linha=Row(c='1765-10', cl=1782, lt0='METRÔ TUCURUVI', lt1='JD. CABUÇU', qv=5, sl=1, vs=[Row(a=True, p=22847, px=-46.569042, py=-23.466963, ta='2024-09-20T12:50:00Z'), Row(a=True, p=22845, px=-46.60007, py=-23.480282, ta='2024-09-20T12:50:01Z'), Row(a=True, p=22812, px=-46.569042, py=-23.466963, ta='2024-09-20T12:50:12Z'), Row(a=True, p=22846, px=-46.569042, py=-23.466963, ta='2024-09-20T12:50:14Z'), Row(a=True, p=22344, px=-46.573944, py=-23.459726, ta='2024-09-20T12:49:41Z')])),
 Row(Hora='09:50', Linha=Row(c='1744-10', cl=33312, lt0='METRÔ SANTANA', lt1='LAUZANE PAULISTA', qv=6, sl=2, vs=[Row(a=True, p=22578, px=-46.64165, py=-23.472612, ta='2024-09-20T12:50:12Z'), Row(a=True, p=22284, px=-46.637234, py=-23.476126, ta='2024-09-20T12:49:38Z'), Row(a=True, p=22738, px=-46.64178, py=-23.472807, ta='2024-09-20T12:50:04Z'), Row(a=True, p=22581, px=-46.638428, py=-23.487814, ta='2024-09-20T12:49:40Z'), Row(a=True, p=22577, px=-46.641495, py=-23.472376, ta='2024-09-20T12:49:33Z'), Row(a=True, p=22580, px=-46.641495, py=-23.472376, ta='2024-09-20T12:50:08Z')])),
 Row(Hora='09:50', Linha=Row(c='2626-10', cl=376, lt0='TERM. PQ. D. PEDRO II', lt1='JD. NAZARÉ', qv=6, sl=1, vs=[Row(a=True, p=31072, px=-46.46055, py=-23.497837, ta='2024-09-20T12:50:07Z'), Row(a=True, p=31063, px=-46.630474, py=-23.54544, ta='2024-09-20T12:50:07Z'), Row(a=True, p=31075, px=-46.43512, py=-23.495134, ta='2024-09-20T12:50:16Z'), Row(a=True, p=31059, px=-46.591747, py=-23.536964, ta='2024-09-20T12:50:01Z'), Row(a=True, p=31708, px=-46.542313, py=-23.522953, ta='2024-09-20T12:49:52Z'), Row(a=True, p=31714, px=-46.504295, py=-23.510399, ta='2024-09-20T12:49:36Z')])),
 Row(Hora='09:50', Linha=Row(c='4012-10', cl=2185, lt0='TERM. SÃO MATEUS', lt1='JD. IGUATEMI', qv=8, sl=1, vs=[Row(a=True, p=48675, px=-46.456974, py=-23.6143, ta='2024-09-20T12:50:07Z'), Row(a=True, p=48978, px=-46.440933, py=-23.598099, ta='2024-09-20T12:50:13Z'), Row(a=True, p=48021, px=-46.46902, py=-23.616344, ta='2024-09-20T12:50:04Z'), Row(a=True, p=48195, px=-46.440933, py=-23.598099, ta='2024-09-20T12:50:00Z'), Row(a=True, p=48344, px=-46.443962, py=-23.6045, ta='2024-09-20T12:50:05Z'), Row(a=True, p=48780, px=-46.44094, py=-23.598282, ta='2024-09-20T12:50:11Z'), Row(a=True, p=48040, px=-46.476376, py=-23.613176, ta='2024-09-20T12:50:10Z'), Row(a=True, p=48207, px=-46.440933, py=-23.598099, ta='2024-09-20T12:50:01Z')])),
 Row(Hora='09:50', Linha=Row(c='6039-10', cl=1217, lt0='STO. AMARO', lt1='VALO VELHO', qv=4, sl=1, vs=[Row(a=True, p=78668, px=-46.800953, py=-23.686033, ta='2024-09-20T12:49:44Z'), Row(a=True, p=78128, px=-46.708538, py=-23.652227, ta='2024-09-20T12:49:34Z'), Row(a=True, p=78358, px=-46.79682, py=-23.681759, ta='2024-09-20T12:50:12Z'), Row(a=True, p=78045, px=-46.717064, py=-23.641039, ta='2024-09-20T12:50:16Z')])),
 Row(Hora='09:50', Linha=Row(c='6913-10', cl=1465, lt0='TERM. BANDEIRA', lt1='TERM. VARGINHA', qv=14, sl=1, vs=[Row(a=True, p=61645, px=-46.685013, py=-23.623154, ta='2024-09-20T12:50:00Z'), Row(a=True, p=61764, px=-46.714764, py=-23.694004, ta='2024-09-20T12:49:58Z'), Row(a=True, p=61647, px=-46.71619, py=-23.76756, ta='2024-09-20T12:49:39Z'), Row(a=True, p=61653, px=-46.688213, py=-23.62766, ta='2024-09-20T12:49:51Z'), Row(a=True, p=61340, px=-46.69779, py=-23.640957, ta='2024-09-20T12:50:15Z'), Row(a=True, p=61350, px=-46.71619, py=-23.76756, ta='2024-09-20T12:49:36Z'), Row(a=True, p=61337, px=-46.662224, py=-23.570478, ta='2024-09-20T12:50:17Z'), Row(a=True, p=61074, px=-46.684605, py=-23.622559, ta='2024-09-20T12:49:55Z'), Row(a=True, p=61642, px=-46.684605, py=-23.622559, ta='2024-09-20T12:49:59Z'), Row(a=True, p=61665, px=-46.708256, py=-23.747791, ta='2024-09-20T12:50:15Z'), Row(a=True, p=61736, px=-46.67532, py=-23.605312, ta='2024-09-20T12:49:55Z'), Row(a=True, p=61351, px=-46.71619, py=-23.76756, ta='2024-09-20T12:49:48Z'), Row(a=True, p=61330, px=-46.717182, py=-23.767525, ta='2024-09-20T12:49:36Z'), Row(a=True, p=61650, px=-46.698776, py=-23.718542, ta='2024-09-20T12:50:00Z')])),
 Row(Hora='09:50', Linha=Row(c='7017-10', cl=35270, lt0='TERM. GUARAPIRANGA', lt1='JD. GUARUJÁ', qv=6, sl=2, vs=[Row(a=True, p=78494, px=-46.790733, py=-23.69319, ta='2024-09-20T12:50:12Z'), Row(a=True, p=78017, px=-46.75482, py=-23.675562, ta='2024-09-20T12:49:50Z'), Row(a=True, p=78881, px=-46.735504, py=-23.668242, ta='2024-09-20T12:50:18Z'), Row(a=True, p=78161, px=-46.789654, py=-23.683731, ta='2024-09-20T12:50:19Z'), Row(a=True, p=78843, px=-46.735504, py=-23.668242, ta='2024-09-20T12:49:36Z'), Row(a=True, p=78811, px=-46.786476, py=-23.692238, ta='2024-09-20T12:50:03Z')])),
 Row(Hora='09:50', Linha=Row(c='2013-10', cl=33667, lt0='CACHOEIRINHA', lt1='COHAB ANTÁRTICA', qv=9, sl=2, vs=[Row(a=True, p=25139, px=-46.67131, py=-23.460632, ta='2024-09-20T12:49:43Z'), Row(a=True, p=25209, px=-46.657078, py=-23.462845, ta='2024-09-20T12:49:38Z'), Row(a=True, p=25622, px=-46.658886, py=-23.454401, ta='2024-09-20T12:49:51Z'), Row(a=True, p=25611, px=-46.658886, py=-23.454401, ta='2024-09-20T12:50:03Z'), Row(a=True, p=25221, px=-46.6644, py=-23.46692, ta='2024-09-20T12:50:02Z'), Row(a=True, p=25632, px=-46.654045, py=-23.464035, ta='2024-09-20T12:50:11Z'), Row(a=True, p=25646, px=-46.658886, py=-23.454401, ta='2024-09-20T12:49:40Z'), Row(a=True, p=25200, px=-46.63665, py=-23.46577, ta='2024-09-20T12:49:35Z'), Row(a=True, p=25208, px=-46.670246, py=-23.472227, ta='2024-09-20T12:49:53Z')])),
 Row(Hora='09:50', Linha=Row(c='857A-10', cl=34693, lt0='METRÔ STA. CRUZ', lt1='TERM. CAMPO LIMPO', qv=6, sl=2, vs=[Row(a=True, p=77603, px=-46.678844, py=-23.585737, ta='2024-09-20T12:50:18Z'), Row(a=True, p=77608, px=-46.773197, py=-23.631218, ta='2024-09-20T12:49:53Z'), Row(a=True, p=77610, px=-46.76454, py=-23.624508, ta='2024-09-20T12:50:05Z'), Row(a=True, p=77866, px=-46.69649, py=-23.571602, ta='2024-09-20T12:49:38Z'), Row(a=True, p=77601, px=-46.773342, py=-23.631153, ta='2024-09-20T12:49:45Z'), Row(a=True, p=77605, px=-46.650597, py=-23.597712, ta='2024-09-20T12:49:53Z')])),
 Row(Hora='09:50', Linha=Row(c='2756-10', cl=238, lt0='METRÔ PATRIARCA', lt1='GUAIANASES', qv=4, sl=1, vs=[Row(a=True, p=32866, px=-46.49702, py=-23.528423, ta='2024-09-20T12:44:11Z'), Row(a=True, p=32261, px=-46.39043, py=-23.54446, ta='2024-09-20T12:49:47Z'), Row(a=True, p=32848, px=-46.433674, py=-23.504227, ta='2024-09-20T12:48:15Z'), Row(a=True, p=32267, px=-46.39043, py=-23.54446, ta='2024-09-20T12:49:38Z')])),
 Row(Hora='09:50', Linha=Row(c='5030-10', cl=34437, lt0='TERM. SACOMÃ', lt1='JD. MARIA ESTELA', qv=2, sl=2, vs=[Row(a=True, p=51097, px=-46.606804, py=-23.637, ta='2024-09-20T12:50:09Z'), Row(a=True, p=51098, px=-46.60276, py=-23.603233, ta='2024-09-20T12:49:53Z')])),
 Row(Hora='09:50', Linha=Row(c='875C-1', cl=35278, lt0='METRÔ STA. CRUZ', lt1='TERM. LAPA', qv=5, sl=2, vs=[Row(a=True, p=82450, px=-46.68358, py=-23.58241, ta='2024-09-20T12:50:08Z'), Row(a=True, p=82773, px=-46.719658, py=-23.53697, ta='2024-09-20T12:49:43Z'), Row(a=True, p=82630, px=-46.666992, py=-23.597713, ta='2024-09-20T12:49:41Z'), Row(a=True, p=82451, px=-46.702152, py=-23.52668, ta='2024-09-20T12:50:13Z'), Row(a=True, p=82740, px=-46.70033, py=-23.519775, ta='2024-09-20T12:50:08Z')])),
 Row(Hora='09:50', Linha=Row(c='2705-10', cl=33685, lt0='METRÔ ITAQUERA', lt1='JD. FANGANIELO', qv=7, sl=2, vs=[Row(a=True, p=36028, px=-46.420834, py=-23.54313, ta='2024-09-20T12:49:53Z'), Row(a=True, p=36026, px=-46.39312, py=-23.545614, ta='2024-09-20T12:50:18Z'), Row(a=True, p=36091, px=-46.405285, py=-23.543476, ta='2024-09-20T12:49:59Z'), Row(a=True, p=36093, px=-46.40549, py=-23.539871, ta='2024-09-20T12:50:01Z'), Row(a=True, p=36068, px=-46.46991, py=-23.543388, ta='2024-09-20T12:49:59Z'), Row(a=True, p=36052, px=-46.411163, py=-23.543753, ta='2024-09-20T12:49:39Z'), Row(a=True, p=36130, px=-46.392982, py=-23.546515, ta='2024-09-20T12:50:10Z')])),
 Row(Hora='09:50', Linha=Row(c='5757-10', cl=34056, lt0='METRÔ CONCEIÇÃO', lt1='CID. JÚLIA', qv=9, sl=2, vs=[Row(a=True, p=68120, px=-46.643993, py=-23.659866, ta='2024-09-20T12:49:49Z'), Row(a=True, p=68456, px=-46.641747, py=-23.646547, ta='2024-09-20T12:49:53Z'), Row(a=True, p=68847, px=-46.640923, py=-23.693558, ta='2024-09-20T12:50:03Z'), Row(a=True, p=68320, px=-46.634995, py=-23.683216, ta='2024-09-20T12:49:55Z'), Row(a=True, p=68725, px=-46.63922, py=-23.6912, ta='2024-09-20T12:49:48Z'), Row(a=True, p=68869, px=-46.63922, py=-23.6912, ta='2024-09-20T12:50:00Z'), Row(a=True, p=68350, px=-46.63798, py=-23.688736, ta='2024-09-20T12:50:11Z'), Row(a=True, p=68388, px=-46.639114, py=-23.691097, ta='2024-09-20T12:50:08Z'), Row(a=True, p=68023, px=-46.64072, py=-23.646433, ta='2024-09-20T12:50:12Z')])),
 Row(Hora='09:50', Linha=Row(c='6051-10', cl=33911, lt0='TERM. VARGINHA', lt1='JD. ITAJAÍ', qv=1, sl=2, vs=[Row(a=True, p=66434, px=-46.688934, py=-23.762821, ta='2024-09-20T12:49:41Z')])),
 Row(Hora='09:50', Linha=Row(c='172R-10', cl=33627, lt0='METRÔ BELÉM', lt1='JAÇANÃ', qv=11, sl=2, vs=[Row(a=True, p=26247, px=-46.572983, py=-23.489456, ta='2024-09-20T12:50:05Z'), Row(a=True, p=26467, px=-46.583748, py=-23.465826, ta='2024-09-20T12:49:57Z'), Row(a=True, p=26219, px=-46.58287, py=-23.465616, ta='2024-09-20T12:49:40Z'), Row(a=True, p=26290, px=-46.57044, py=-23.483097, ta='2024-09-20T12:50:09Z'), Row(a=True, p=26313, px=-46.58383, py=-23.46622, ta='2024-09-20T12:50:06Z'), Row(a=True, p=26086, px=-46.600376, py=-23.534801, ta='2024-09-20T12:49:59Z'), Row(a=True, p=26361, px=-46.57264, py=-23.50125, ta='2024-09-20T12:50:04Z'), Row(a=True, p=26275, px=-46.589127, py=-23.517714, ta='2024-09-20T12:49:28Z'), Row(a=True, p=26059, px=-46.58383, py=-23.46622, ta='2024-09-20T12:49:55Z'), Row(a=True, p=26002, px=-46.592, py=-23.541786, ta='2024-09-20T12:49:55Z'), Row(a=True, p=26265, px=-46.57346, py=-23.502787, ta='2024-09-20T12:50:10Z')])),
 Row(Hora='09:50', Linha=Row(c='118C-10', cl=519, lt0='TERM. AMARAL GURGEL', lt1='JD. PERY ALTO', qv=6, sl=1, vs=[Row(a=True, p=22273, px=-46.671547, py=-23.453468, ta='2024-09-20T12:49:51Z'), Row(a=True, p=22255, px=-46.62566, py=-23.499638, ta='2024-09-20T12:49:49Z'), Row(a=True, p=22267, px=-46.62486, py=-23.500294, ta='2024-09-20T12:50:04Z'), Row(a=True, p=22262, px=-46.648556, py=-23.54017, ta='2024-09-20T12:50:04Z'), Row(a=True, p=22378, px=-46.632206, py=-23.480522, ta='2024-09-20T12:49:32Z'), Row(a=True, p=22270, px=-46.63919, py=-23.528599, ta='2024-09-20T12:50:03Z')])),
 Row(Hora='09:50', Linha=Row(c='342N-10', cl=33771, lt0='E.T. ITAQUERA', lt1='COHAB PRES. JUSCELINO KUBITSCHECK', qv=6, sl=2, vs=[Row(a=True, p=47672, px=-46.412884, py=-23.54395, ta='2024-09-20T12:49:50Z'), Row(a=True, p=47186, px=-46.394604, py=-23.562952, ta='2024-09-20T12:50:10Z'), Row(a=True, p=47586, px=-46.39643, py=-23.568306, ta='2024-09-20T12:49:43Z'), Row(a=True, p=47791, px=-46.452908, py=-23.534565, ta='2024-09-20T12:49:46Z'), Row(a=True, p=47232, px=-46.394604, py=-23.562952, ta='2024-09-20T12:49:53Z'), Row(a=True, p=47698, px=-46.41654, py=-23.563206, ta='2024-09-20T12:50:03Z')])),
 Row(Hora='09:50', Linha=Row(c='5105-10', cl=34419, lt0='TERM. MERCADO', lt1='TERM. SACOMÃ', qv=7, sl=2, vs=[Row(a=True, p=52867, px=-46.602207, py=-23.60334, ta='2024-09-20T12:49:41Z'), Row(a=True, p=52866, px=-46.628815, py=-23.547226, ta='2024-09-20T12:49:45Z'), Row(a=True, p=52870, px=-46.602818, py=-23.602995, ta='2024-09-20T12:50:11Z'), Row(a=True, p=52869, px=-46.603416, py=-23.574215, ta='2024-09-20T12:50:14Z'), Row(a=True, p=52813, px=-46.60173, py=-23.603498, ta='2024-09-20T12:49:41Z'), Row(a=True, p=52810, px=-46.602013, py=-23.603422, ta='2024-09-20T12:50:07Z'), Row(a=True, p=52865, px=-46.628815, py=-23.547226, ta='2024-09-20T12:49:12Z')])),
 Row(Hora='09:50', Linha=Row(c='407F-10', cl=34935, lt0='METRÔ BELÉM', lt1='TERM. SÃO MATEUS', qv=5, sl=2, vs=[Row(a=True, p=31674, px=-46.53474, py=-23.572603, ta='2024-09-20T12:49:39Z'), Row(a=True, p=31657, px=-46.47626, py=-23.612038, ta='2024-09-20T12:49:59Z'), Row(a=True, p=31761, px=-46.58447, py=-23.546349, ta='2024-09-20T12:50:05Z'), Row(a=True, p=31662, px=-46.481636, py=-23.603645, ta='2024-09-20T12:50:02Z'), Row(a=True, p=31615, px=-46.503593, py=-23.57959, ta='2024-09-20T12:50:08Z')]))]

In [5]:
#df_empresa - df_empresa.withColumn("e",explode(df_empresa['e']))

In [6]:
df_posicao.printSchema()


#df_posicao.select(\
#                   explode('e').alias('Empresa') \
#                   ,col('hr').alias('Hora')).printSchema()

root
 |-- Hora: string (nullable = true)
 |-- Linha: struct (nullable = true)
 |    |-- c: string (nullable = true)
 |    |-- cl: long (nullable = true)
 |    |-- lt0: string (nullable = true)
 |    |-- lt1: string (nullable = true)
 |    |-- qv: long (nullable = true)
 |    |-- sl: long (nullable = true)
 |    |-- vs: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- a: boolean (nullable = true)
 |    |    |    |-- p: long (nullable = true)
 |    |    |    |-- px: double (nullable = true)
 |    |    |    |-- py: double (nullable = true)
 |    |    |    |-- ta: string (nullable = true)

In [25]:
#Delta Table Corredor
DeltaTable.createIfNotExists(spark) \
    .tableName("stage.corredor")\
    .addColumns(df_corredor.schema)\
    .execute()

deltaTable = DeltaTable.forName(spark, "stage.corredor")
#adiconar condicao no whenMatchedUpdateAll para o dado antigo nao sobrepor o dado mais recente
deltaTable.alias('destiny') \
.merge(
df_corredor.alias('source'),
'source.Codigo_Parada = destiny.Codigo_Parada'
) \
.whenMatchedUpdateAll() \
.whenNotMatchedInsertAll() \
.execute()

In [36]:
#Delta Table Empresa
DeltaTable.createIfNotExists(spark) \
    .tableName("stage.empresa")\
    .addColumns(df_empresa_tratado.schema)\
    .execute()

deltaTable = DeltaTable.forName(spark, "stage.empresa")
#adiconar condicao no whenMatchedUpdateAll para o dado antigo nao sobrepor o dado mais recente
deltaTable.alias('destiny') \
.merge(
df_empresa_tratado.alias('source'),
'source.Empresa.e = destiny.Empresa.e'
) \
.whenMatchedUpdateAll() \
.whenNotMatchedInsertAll() \
.execute()

In [34]:
#df_empresa_tratado.show()

+--------------------+-----+
|             Empresa| Hora|
+--------------------+-----+
|{1, [{1, 37, GATO...|21:30|
|{2, [{2, 92, SAMB...|21:30|
|{3, [{3, 50, VIAÇ...|21:30|
|{4, [{4, 80, AMBI...|21:30|
|{5, [{5, 51, VIA ...|21:30|
|{6, [{6, 53, VIAÇ...|21:30|
|{7, [{7, 27, CAMP...|21:30|
|{8, [{8, 37, GATO...|21:30|
+--------------------+-----+

In [ ]:
#Delta Table Posicao
DeltaTable.createIfNotExists(spark) \
    .tableName("stage.posicao")\
    .addColumns(df_posicao.schema)\
    .execute()

#adiconar condicao no whenMatchedUpdateAll para o dado antigo nao sobrepor o dado mais recente
deltaTable = DeltaTable.forName(spark, "stage.posicao")

deltaTable.alias('destiny') \
.merge(
df_posicao.alias('source'),
'source.Linha.cl = destiny.Linha.cl and source.Linha.sl = destiny.Linha.sl'
) \
.whenMatchedUpdateAll() \
.whenNotMatchedInsertAll() \
.execute()

In [ ]:
#Delta Table Linhas
DeltaTable.createIfNotExists(spark) \
    .tableName("stage.linhas")\
    .addColumns(df_linhas.schema)\
    .execute()


#adiconar condicao no whenMatchedUpdateAll para o dado antigo nao sobrepor o dado mais recente
deltaTable = DeltaTable.forName(spark, "stage.linhas")

deltaTable.alias('destiny') \
.merge(
df_linhas.alias('source'),
'source.route_id = destiny.route_id'
) \
.whenMatchedUpdateAll() \
.whenNotMatchedInsertAll() \
.execute()

In [ ]:
#Delta Table Paradas
DeltaTable.createIfNotExists(spark) \
    .tableName("stage.paradas")\
    .addColumns(df_paradas.schema)\
    .execute()

#adiconar condicao no whenMatchedUpdateAll para o dado antigo nao sobrepor o dado mais recente
deltaTable = DeltaTable.forName(spark, "stage.paradas")

deltaTable.alias('destiny') \
.merge(
df_paradas.alias('source'),
'source.stop_id = destiny.stop_id'
) \
.whenMatchedUpdateAll() \
.whenNotMatchedInsertAll() \
.execute()

In [ ]:
#Delta Table Trips
DeltaTable.createIfNotExists(spark) \
    .tableName("stage.trips")\
    .addColumns(df_trips.schema)\
    .execute()

#adiconar condicao no whenMatchedUpdateAll para o dado antigo nao sobrepor o dado mais recente
deltaTable = DeltaTable.forName(spark, "stage.trips")

deltaTable.alias('destiny') \
.merge(
df_trips.alias('source'),
'source.route_id = destiny.route_id and source.direction_id = destiny.direction_id'
) \
.whenMatchedUpdateAll() \
.whenNotMatchedInsertAll() \
.execute()

In [10]:
 #adiconar condicao no whenMatchedUpdateAll para o dado antigo nao sobrepor o dado mais recente

#Criando tabelas caso não existam
# try:
#     df_corredor.write.format("delta").saveAsTable("stage.corredor")
# except:
#     pass

In [16]:
# try:
#     df_empresa.write.format("delta").saveAsTable("stage.empresa")
# except:
#     pass

In [11]:
# df_empresa.printSchema()

root
 |-- Empresa: struct (nullable = true)
 |    |-- a: long (nullable = true)
 |    |-- e: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- a: long (nullable = true)
 |    |    |    |-- c: long (nullable = true)
 |    |    |    |-- n: string (nullable = true)
 |-- Hora: string (nullable = true)

In [5]:
# try:
#     df_posicao.write.format("delta").saveAsTable("stage.posicao")
# except:
#     pass

In [ ]:
# window_spec = Window.partitionBy("Linha.c").orderBy(col("Hora").desc())
# df_empresa_tratado = df_empresa.withColumn("row_num", row_number().over(window_spec)) \
#                        .filter(col("row_num") == 1) \
#                        .drop("row_num")

In [9]:
#df_posicao.printSchema()
#df_posicao.show(truncate=False)

+-----+--------------------+
| Hora|               Linha|
+-----+--------------------+
|20:42|{7060-10, 1889, T...|
|20:42|{3053-10, 973, ME...|
|20:42|{6041-10, 1218, S...|
|20:42|{9191-10, 33578, ...|
|20:42|{9009-10, 33645, ...|
|20:42|{3785-10, 33831, ...|
|20:42|{6450-10, 32827, ...|
|20:42|{875H-10, 1340, M...|
|20:42|{2727-10, 942, CO...|
|20:42|{3736-10, 33804, ...|
|20:42|{877T-10, 34149, ...|
|20:42|{2582-10, 33142, ...|
|20:42|{5391-10, 32939, ...|
|20:42|{3134-10, 993, ME...|
|20:42|{5290-10, 33365, ...|
|20:42|{3459-23, 33172, ...|
|20:42|{5145-10, 34409, ...|
|20:42|{707K-10, 35271, ...|
|20:42|{4032-10, 33870, ...|
|20:42|{4732-31, 2127, M...|
+-----+--------------------+
only showing top 20 rows

In [12]:
# try:
#     df_linhas.write.format("delta").saveAsTable("stage.linhas")
# except:
#     pass

In [11]:
#df_linhas.show()

+--------+---------+----------------+--------------------+----------+-----------+----------------+
|route_id|agency_id|route_short_name|     route_long_name|route_type|route_color|route_text_color|
+--------+---------+----------------+--------------------+----------+-----------+----------------+
| 1012-10|        1|         1012-10|Term. Jd. Britani...|         3|     509E2F|          FFFFFF|
| 1012-21|        1|         1012-21|Term. Jd. Britâni...|         3|     509E2F|          FFFFFF|
| 1015-10|        1|         1015-10|Term. Jd. Britâni...|         3|     509E2F|          FFFFFF|
| 1016-10|        1|         1016-10|Cem. Do Horto - S...|         3|     002F6C|          FFFFFF|
| 1017-10|        1|         1017-10|Perus - Conexão V...|         3|     509E2F|          FFFFFF|
| 1018-10|        1|         1018-10|Vl. Rosa - Metrô ...|         3|     002F6C|          FFFFFF|
| 1019-10|        1|         1019-10|Sol Nascente - Te...|         3|     509E2F|          FFFFFF|
| 1020-10|        1|         1020-10|Perus - Conexão V...|         3|     509E2F|          FFFFFF|
| 1021-10|        1|         1021-10|Cohab Brasilândia...|         3|     509E2F|          FFFFFF|
| 1023-10|        1|         1023-10|Vl. Pirituba - Cp...|         3|     509E2F|          FFFFFF|
| 1024-10|        1|         1024-10|Jd. Carombé - Con...|         3|     509E2F|          FFFFFF|
| 1025-10|        1|         1025-10|Jd. Carombé - Con...|         3|     509E2F|          FFFFFF|
| 1026-10|        1|         1026-10|Vl. Iara - Conexã...|         3|     509E2F|          FFFFFF|
| 1034-10|        1|         1034-10|Vl. Iara - Conexã...|         3|     509E2F|          FFFFFF|
| 1036-10|        1|         1036-10|Cohab Brasilândia...|         3|     509E2F|          FFFFFF|
| 106A-10|        1|         106A-10|Metrô Santana - I...|         3|     002F6C|          FFFFFF|
| 107T-10|        1|         107T-10|Metrô Tucuruvi - ...|         3|     002F6C|          FFFFFF|
| 1156-10|        1|         1156-10|Vl. Sabrina - Pça...|         3|     002F6C|          FFFFFF|
| 1177-10|        1|         1177-10|Term. A. E. Carva...|         3|     FFD100|          000000|
| 1177-31|        1|         1177-31|Term. A. E. Carva...|         3|     FFD100|          000000|
+--------+---------+----------------+--------------------+----------+-----------+----------------+
only showing top 20 rows

In [15]:
# try:
#     df_paradas.write.format("delta").saveAsTable("stage.paradas")
# except:
#     pass

In [14]:
#df_paradas.show()

+-------+----------------+---------+----------+----------+
|stop_id|       stop_name|stop_desc|  stop_lat|  stop_lon|
+-------+----------------+---------+----------+----------+
|  18848|        Clínicas|     null|-23.554022|-46.671108|
|  18849|   Vila Madalena|     null|-23.546498|-46.691141|
|  18850|      Consolação|     null|-23.558094|-46.660205|
|  18851|       Conceição|     null|-23.635039|-46.641239|
|  18852|       Jabaquara|     null|-23.646033|-46.641028|
|  18853|       São Judas|     null|-23.625882|-46.640936|
|  18854|           Saúde|     null|-23.618245|-46.639139|
|  18855| Praça Da Árvore|     null|-23.610583|-46.637918|
|  18856|      Santa Cruz|     null|-23.598541|-46.636638|
|  18857|    Vila Mariana|     null|-23.589359|-46.634677|
|  18858|      Brigadeiro|     null|-23.567615|-46.649027|
|  18859|    Trianon-masp|     null|-23.563570|-46.653893|
|  18860|        Ana Rosa|     null|-23.581203|-46.638489|
|  18861|         Paraíso|     null|-23.575400|-46.640700|
|  18862|       Vergueiro|     null|-23.568521|-46.639904|
|  18863|     São Joaquim|     null|-23.561435|-46.638534|
|  18864|Marechal Deodoro|     null|-23.533163|-46.657264|
|  18865|   Santa Cecília|     null|-23.538095|-46.649009|
|  18866|       República|     null|-23.544215|-46.642461|
|  18867|      Anhangabaú|     null|-23.547800|-46.639200|
+-------+----------------+---------+----------+----------+
only showing top 20 rows

In [18]:
# try:
#     df_trips.write.format("delta").saveAsTable("stage.trips")
# except:
#     pass

In [17]:
#df_trips.show(20)

+--------+----------+---------+--------------------+------------+--------+
|route_id|service_id|  trip_id|       trip_headsign|direction_id|shape_id|
+--------+----------+---------+--------------------+------------+--------+
| 1012-10|       USD|1012-10-0|      Jd. Monte Belo|           0|   81072|
| 1012-10|       USD|1012-10-1|  Term. Jd. Britania|           1|   81073|
| 1012-21|       U__|1012-21-0|         Jd. Rosinha|           0|   81195|
| 1015-10|       USD|1015-10-0|Chác. Maria Trindade|           0|   81148|
| 1016-10|       USD|1016-10-0|  Shop. Center Norte|           0|   72283|
| 1016-10|       USD|1016-10-1|       Cem. Do Horto|           1|   82172|
| 1017-10|       USD|1017-10-0|   Conexão Vl. Iório|           0|   72355|
| 1017-10|       USD|1017-10-1|               Perus|           1|   72356|
| 1018-10|       USD|1018-10-0|       Metrô Santana|           0|   71029|
| 1018-10|       USD|1018-10-1|            Vl. Rosa|           1|   71030|
| 1019-10|       USD|1019-10-0|      Term. Pirituba|           0|   81649|
| 1019-10|       USD|1019-10-1|        Sol Nascente|           1|   81650|
| 1020-10|       USD|1020-10-0|  Conexão Vl. Iório |           0|   69454|
| 1020-10|       USD|1020-10-1|               Perus|           1|   81663|
| 1021-10|       US_|1021-10-0|      Term. Pirituba|           0|   58785|
| 1021-10|       US_|1021-10-1|   Cohab Brasilândia|           1|   58786|
| 1023-10|       USD|1023-10-0|       Cptm Pirituba|           0|   72879|
| 1024-10|       USD|1024-10-0|Conexão Petrônio ...|           0|   58765|
| 1024-10|       USD|1024-10-1|         Jd. Carombé|           1|   79504|
| 1025-10|       USD|1025-10-0|Conexão Petrônio ...|           0|   58767|
+--------+----------+---------+--------------------+------------+--------+
only showing top 20 rows

In [38]:
# df_teste.show()

+-------------+-------------------+
|Codigo_Parada|        Nome_Parada|
+-------------+-------------------+
|            9|Expresso Tiradentes|
|            3|    Inajar de Souza|
|           10|     Paes de Barros|
|            8|        Campo Limpo|
|            7|        Parelheiros|
|            2|        Santo Amaro|
|            1|           Pirituba|
+-------------+-------------------+

In [8]:
# spark.sql('show databases').show()

+---------+
|namespace|
+---------+
| business|
|  default|
|    stage|
+---------+

In [28]:
# spark.sql("show tables from stage").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|    stage| corredor|      false|
|    stage|  empresa|      false|
|    stage|  posicao|      false|
|    stage|   linhas|      false|
|    stage|  paradas|      false|
|    stage|    trips|      false|
+---------+---------+-----------+

In [35]:
#spark.sql("describe table stage.corredor_teste").show()
#spark.sql("drop table stage.empresa").show()

++
||
++
++

++
||
++
++

In [22]:
# DeltaTable.create(spark) \
#     .tableName("stage.teste_caio")\
#     .addColumns(df_corredor.schema)\
#     .execute()

In [23]:
# deltaTable = DeltaTable.forName(spark, "stage.teste_caio")

# deltaTable.alias('destiny') \
# .merge(
# df_corredor.alias('source'),
# 'source.Codigo_Parada = destiny.Codigo_Parada'
# ) \
# .whenMatchedUpdateAll() \
# .whenNotMatchedInsertAll() \
# .execute()